[tool.poetry]
name = "pysource-minimize"
version = "0.3.0"
description = "find failing section in python source"
authors = ["Frank Hoffmann"]
license = "MIT"
readme = "README.md"
packages = [{include = "pysource_minimize"}]

[tool.poetry.dependencies]
python = "^3.7"
asttokens = "^2.0.8"
rich = "^12.6.0"
astunparse = "^1.6.3"
click = "^8.1.7"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
pytest-subtests = "^0.8.0"
pytest-xdist = {extras = ["psutil"], version = "^3.1.0"}
coverage-enable-subprocess = "^1.0"
coverage = "^6.5.0"
mypy = "^1.2.0"
pysource-codegen = "^0.3.0"

[tool.poetry.scripts]
pysource-minimize = "pysource_minimize.__main__:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.run]
source = ["tests","pysource_minimize"]
parallel = true
branch = true
data_file = "$TOP/.coverage"

[tool.black]
force-exclude = "tests/.*_samples"

[tool.mypy]
exclude="tests/.*_samples"
