[tool.poetry]
name = "pysource-minimize"
version = "0.1.0"
description = "find failing section in python source"
authors = ["Frank Hoffmann"]
license = "MIT"
readme = "README.md"
packages = [{include = "pysource_minimize"}]

[tool.poetry.dependencies]
python = "^3.10"
asttokens = "^2.0.8"
rich = "^12.6.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
pytest-subtests = "^0.8.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
